* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    line-height: 45px;
    position: sticky;
    top: 0px;
    padding-left: 10px;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    
}
.nav-ul li{
    padding: 0px 10px;
    width: 100px;
    text-align: center;
}

.nav-ul li:hover {
    background-color: gray;
    color: black;


}

img {
    width: 100%;
    height: 100vh;
    background-position: center;

}

.paragraph h3 {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.paragraph h4 {
    font-size: 20px;
    color: gray;
    background-color: white;
    text-align: center;
    font-style: italic;

}

.paragraph2 {
    color: black;
    background-color: white;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 25px;
}

.main {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

}

.img1 img {
    width: 150px;
    height: 150px;
}

.img1 p {
    color: black;
    background-color: white;
    text-align: center;
}

.container {
    width: 100%;
    height: 850px;
    background-color: black;
}

.header {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

.header p {
    font-style: italic;
    color: gray;
}

.sep-parent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.september {
    width: 62.7%;
    background-color: white;
    color: gray;
    font-size: 20px;
    list-style: none;
    margin-left: 2%;
    margin-top: 50px;
    line-height: 40px;


}

.september li span {
    background-color: red;
    color: white;
    font-size: 18px;
}

.main2 {
    width: 100%;
    padding-top: 35px;
}

.card1 {
    width: 250px;
    background: white;
}

.card2 {
    width: 250px;
    background: white;
}

.card3 {
    width: 250px;
    background: white;
}

.image2 {
    padding-left: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
}

.card-img {
    width: 250px;
    height: 220px;
}

.side1 {
    width: 250px;
    height: 220px;
    background-color: white;
    color: black;
    padding-left: 10px;
    line-height: 30px;
}

.side1 h3 {
    color: gray;
}

.side2 {
    width: 250px;
    height: 220px;
    background-color: white;
    color: black;
    padding-left: 10px;
    line-height: 30px;
}

.side2 h3 {
    color: gray;
}

.side3 {
    width: 250px;
    height: 220px;
    background-color: white;
    color: black;
    padding-left: 10px;
    line-height: 30px;
}

.side3 h3 {
    color: gray;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: gainsboro;
    color: black;
    border: none;
}
.paragraph3{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
    padding: 0px 200px;
}
.line1{
    width: 49%;
    height: 40px;
   
}
.line2{
    width: 49%;
    height: 40px;
}
.cin1{
    display: flex;
    width: 384px;
    gap: 2%;
}
.cin2{
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.line3{
    width: 384px;
    height: 40px;
    margin-top: 8px;
}
.heading{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
}
.heading p{
    padding-top: 20px;
    font-style: italic;
    font-size: 18px;
    color: grey;
   
}
.btn2{
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.btn2:hover{
    background-color: gainsboro;
    color: black;
    border: none;
}
.foot{
    width: 100%;
}

.img-top{
    width: -100%;
}

@media(max-width:768px){
    .paragraph2 {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width:768px){
  
.image2 {
    padding-left: 0px;
    flex-wrap: nowrap;
    gap: 10px;
}

.paragraph3{
    padding: 0px;
    justify-content: center
}
img{
    height: 43vh;
}

.september{
    width: 96%;
    margin-left: 0%;

}
.card1{
    width: 240px;
}
.card2{
    width: 240px;
}
.card3{
    width: 240px;
}

.card-img{
    width: 240px;

}

.side1{
    width: 240px;
}
.side2{
    width: 240px;
}
.side3{
    width: 240px;
}
}